body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #f1fbff;
}

.navbar-brand {
    letter-spacing: 1px;
}

.nav-item .nav-link {
    margin-right: 20px;

}

/* .carousel-item {
    height: 100vh;
} */

.carousel-caption {
    padding-bottom: 12%;
    width: 60%;
    margin: auto;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.carousel-caption p {
    line-height: 35px;
}

.sectionpadding {
    padding-top: 100px;

}

.isize {
    font-size: 40px;

}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
@media screen and (max-width:750px){
    .carousel-item img{
        height: 500px;
    }
    .carousel-caption{
        padding-bottom: 10%;
        width: 70%;
    }
    .carousel-caption h5{
        font-size: 30px;
    }
}